.container img{
    width: 16px;
    margin: 10px;
}

.container{
    display: inline-flex;
    width: 50%;
    justify-content: center;

}

.pronostic-container{
    display: flex;
    flex-wrap: wrap;
}

.main-container{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 80%;
    margin: 0 auto;
}
