@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,400&display=swap');

.container img{
    width: 16px;
    margin: 10px;
}

.container{
    display: inline-flex;
    width: 50%;
    justify-content: center;

}

.pronostic-container{
    display: flex;
    flex-wrap: wrap;
}

.main-container{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 80%;
    margin: 0 auto;
}

.require-ubication{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.require-ubication div{
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.require-ubication p{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
}