body{
    font-family: 'Philosopher', sans-serif;
    font-weight: 400 !important;
    margin: 0px;

}

#main-header{
    border: 1px solid #000;

}

#main-header h1{
    margin: 10px 20px 30px 40px;
}

body h3{
    color: #f00;
    margin: 10px;
    margin-top: 20px;

}

h1{
    float: left;
}

#top-stories{
    width: 90%;
    margin: auto;
}

article{
    max-width: 25%;
    display: inline-block;
}

article img{
   max-width: 100%;
    height: 100px;
}

.article-header{
    height: 200px;
    width: 100%;
    background-size: cover !important;
    background-position: center!important;
}

.my-input{
    padding: 10px 5px;
    width: 90%;
    margin: 10px;
    border-radius: 16px 5px;
}

.my-input:focus{
    outline: none;
    background-color: #f00;
    color: #fff;
}