*{
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 100%;
}

.sidebar{
    height: 100vh;
    width: 200px;
    background-color: red;
    overflow: auto;
}

.container{
    width: 80%;
}
