/*Son bloques de código que puedo identificar, com oun boton, un enlace con un fondo detrás*/

.btn{
    border: none;
    padding: 8px 20px;
}

.btn-primary{
    background-color: #293DCB;
    color: white;
}