/*Con display flex podemos controlar los hijos de quienes pongamos
*/

.row1{
    display: flex;
}
.col-4{
    width: 33.333%;
}
.col-6{
    width: 50%;
}

/*.column{*/
/*    width: 40%;*/
/*    !*height: 20%;*!*/
/*    overflow: hidden;*/
/*    display: inline-block;*/
/*}*/
.column img{
    width: 99%;
}
.about{
    padding-left: 0.5rem;
}