*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.one, .two{
    height: 200px;
    width: 200px;
}

.one{
    background-color: bisque;
}

.two{
    background-color: burlywood;
    position: relative;
    top: -30px;
    left: 30px;
    padding: 10px;
}

/*El position relative sirve para encimarlos entre sí, mover un elementos respecto a su posición original*/