*{
    margin: 0;
    padding: 0;
    font-size: 0;
}
.padre{
    height: 500px;
    width: 500px;
    border: 1px dashed;

}

.hijo{
    padding: 10px;
    display: inline-block;
}

.num1{
    background-image: url("https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png");
    background-size: contain;
    width: 230px;
    height: 210px;

}
.num2{
    background-color: red;
    width: 230px;
    height: 210px;
}

.num3{
    background-color: salmon;
    height: 230px;
    width: 210px;
}

.num4{
    background-color: green;
    height: 230px;
    width: 210px;
}

.border-gray{
    border-bottom: 10px solid grey;
    border-top: 10px solid grey;
}

.border-cyan{
    border-left: 10px solid cyan;
    border-right: 10px solid cyan;
}