/*Un pedazo de código que alberga varios elementos*/

/*Navigation*/
.navbar{
}

.main-nav{
    display: flex;
    justify-content: space-between;
    /*Esto sirvió para alinearlo de arriba a abajo en el centro*/
    align-items: center;
}
.main-nav li{
    display: inline-block;
}

.main-nav a{
    color: gray;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 5px 20px;
    display: inline-block;
}
