/* =========================== Index/home =========================== */
/* =========================== Intro =========================== */
.intro{
    /*para decirle que crezca*/
    min-height: 100vh;
    width: 80vw;
    margin: auto;
    background-color: #b9d0d5;
}
.intro-greeting{
    font-size: 1.2rem;
}

/* =========================== about me =========================== */

.img-container{

    display:inline-block;
    border: 10px solid #03539a;
    position: relative;
    width: 100%;
    height: 320px;
}

.img-container img{
    position:absolute;
    top:-80px;
}

.about-me-description{
    /*min-height: 400px;*/
}