*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 2rem;

}
main{
    margin-left: 200px;
}
.parent{
    height: 200px;
    background-color: wheat;
}

.p-absolute{
    position: absolute;
}
.p-relative{
    position: relative;
}

.p-fixed{
    position: fixed;
    top: 0;
}

nav{
    background-color: wheat;
    position: sticky;
    top: 10%;
    width: 100vw;
    margin-left: 200px;
}

.sidebar{
    width: 200px;
    height: 100vh;
    background-color: salmon;
}
/*El position relative sirve para encimarlos entre sí, mover un elementos respecto a su posición original*/